
body{
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: black;
}

/* Headings */

.big-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

.big-hd{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 7%;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
 padding: 7% 15%;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
  background-image: url("C:\Users\Dimitris Olympios\Desktop\Web development\Bootstrap\images\place.JPG");
}

.colored-section1{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 5px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button{
  margin: 0 3% 5% 0;
}

.title-image{
  width: 60%;
  left: 30%;
  position: absolute;
}

/* Tittle Section */

#title{
  color: #fff;
  text-align: center;
}

#title .container-fluid{
  padding: 5% 10%;
}

/* Title image */

#features{
  position: relative;
}

.feature-title{
  font-size: 1.5rem;
}

.feature-box{
  padding: 4.5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonials Section */

#testimonials{
  background-color: #ffc947;
}

#testimonials1 {
  background-color: #126e82;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-image1 {
  width: 60%;
  margin: 20px;
}

.testimonial-text1{
  font-size: 3rem;
  line-height: 1.5;
}

/* Pricing Section */

#pricing{
  padding:100px;
  background-color: #f4cca4;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-colum{
  padding:3% 2%;
}

.para{
  color: black;
  font-size: 1.5rem;
}

/* CTA Section */

/* Footer Section */
.white-section1 {
  padding: 50px 0 20px;
}

.btn1 {
  padding: 20px;
  font-size: 15px;
  width: 150px;
  text-align: center;
  text-decoration: none;
}

.btn1:hover {
  opacity: 0.7;
}

.copy {
  padding-top: 3%;
}
